@import 'styles/base/_variables.scss';

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        color: #fff;
        height: 3rem;
        align-items: center;
        list-style: none;
        font-weight: bold;
        letter-spacing: 1.5px;
        border-radius: 30px;

        li {
            cursor: pointer;
        }
    }

    .avatar {
        background-color: white;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }
}
