$primaryFont: 'Roboto';
$titleFont: 'Rowdies';
$primaryColor: #880061;
$textSecondary: #fff;
$textPrimary: #000;
$buttonPrimary: #ff7d00;
$buttonPrimaryHover: #e57000;
$mediumGray: #8c8c8c;
$shadowColor: #15161b;
$shadowColor1: #313238;
